<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classic List</title>
</head>
<body>
    <h1>Classic movies I want to watch:</h1>
    
    <table>
        {% for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.done }}</td>
            </tr>

            {% empty %}
            
            <p>No Movies Listed</p>
        {% endfor %}
    </table>  
    <a href = "/add">Add movie</a>
</body>
</html>